extends layout

block layout-content
  h2  #{title}
  form(method='POST' action='')
    ul#campaigns
      li#campaign_0  Campaign 1
        ul
          li
            | Canal: 
            select#canal.form-control(type='text' name='canal_0' value=canal)
              each canal in canals
                option(value=canal selected=canal===lastCanal) #{canal}
          li
            | Message: 
            input#message.form-control(
              type='text'
              placeholder='Your message'
              name='message_0'
              value=(undefined===message ? '' : message)
            )
          li
            | Keyboard: 
            select#keyboard.form-control(type='text' name='keyboard_0' value=keyboard)
              option(value='inline' selected=('inline'===lastKeyboard)) inline
              option(value='standard' selected=('standard'===lastKeyboard)) standard
          li
            | Buttons: 
            button.btn.btn-primary(type='button' onclick='addButton()')
              | Add button
               
            ul#buttons_0

    button.btn.btn-primary(type='button' onclick='addCampaign('+JSON.stringify(canals)+')')
      | Add campaign
    button.btn.btn-primary(type='submit') Submit

  script
    include scripts/campaignCreate.js

  if errors
    ul
      for error in errors
        li!= error.msg

  

         
