extends layout

block layout-content
    div.heading
      h2  #{title}
    form(
      method='POST'
      action=''
    )
      div#campaigns
        #campaign_0
          .row
            .two.columns 
              label(for='campaign') Campaign 1
            .four.columns
              input.button.u-full-width(
                type='button'
                onclick='rmElement("campaign_0")'
                value='Delete campaign'
              )
          .row 
            .six.columns
              label(for='canal') Canal 
              select.u-full-width(
                type='text'
                name='campaigns[0][canal]'
              )
                each canal in canals 
                  option(
                    value=canal
                    selected=(locals.campaigns ? canal===locals.campaigns[0].canal : false)
                  ) #{canal}
            .six.columns 
              label(for='keyboard') Keyboard
              select.u-full-width(
                type='text'
                name='campaigns[0][keyboard]'
              )
                option(
                  value='inline'
                  selected=(locals.campaigns ? 'inline'===locals.campaigns[0].keyboard : false)
                ) inline 
                option(
                  value='standard'
                  selected=(locals.campaigns ? 'standard'===locals.campaigns[0].keyboard : false)
                ) standard
          .row 
            label(for='message') Message 
            textarea.u-full-width(
              type='text'
              name='campaigns[0][message]'
              placeholder='Hello everyone'
              style='resize: vertical;'
            )
              | #{locals.campaigns ? (undefined===locals.campaigns[0].message ? '' : locals.campaigns[0].message) : ''}
          .row
            .two.columns 
              label(for='buttons') Buttons 
            .four.columns
              input.button.u-full-width(
                type='button'
                onclick='addButton()'
                value='Add button'
              )
          #buttons_0
            - var j;
            if locals.campaigns
              if locals.campaigns[0].buttons
                - j = 0;
                while j < locals.campaigns[0].buttons.length
                  div(id='button_' + 0 + '_' + j)
                    .row 
                      .two.columns 
                        label(for='button') Button 
                      .four.columns 
                        input.button.u-full-width(
                          type='button'
                          onclick='rmElement("button_' + 0 + '_' + j + '")'
                          value='Delete button'
                        )
                    .row 
                      .three.columns 
                        label(for='button type') Button type 
                        select.u-full-width(
                          type='text'
                          name='campaigns[0][buttons][' + j + '][type]'
                        )
                          option(value='quick_answer' selected=('quick_answer'===locals.campaigns[0].buttons[j].type)) quick_answer
                          option(value='link' selected=('link'===locals.campaigns[0].buttons[j].type)) link
                      .three.columns 
                        label(for='button tag') Button tag 
                        input.u-full-width(
                          type='text'
                          name='campaigns[0][buttons][' + j + '][tag]'
                          required=true 
                          placeholder='hello'
                          value=locals.campaigns[0].buttons[j].tag
                        )
                      .six.columns 
                        label(for='button text') Button text 
                        textarea.u-full-width(
                          type='text'
                          name='campaigns[0][buttons][' + j + '][text]'
                          required=true 
                          placeholder='Hello, my dear friend!'
                          style='resize: none'
                        )
                          | #{locals.campaigns[0].buttons[j].text}
                    if locals.campaigns[0].buttons[j].errors
                      ul.errors 
                        | Button errors 
                        for error in locals.campaigns[0].buttons[j].errors
                          li!=error.msg
                    - j++;
              if locals.campaigns[0].errors
                ul.errors 
                  | Errors 
                  for error in locals.campaigns[0].errors
                    li!=error.msg
        if locals.campaigns
          - var i = 1;
          while i < locals.campaigns.length
            div(id='campaign_' + i)
              .row 
                .two.columns 
                  label(for='campaign') Campaign #{i + 1}
                .four.columns 
                  input.button.u-full-width(
                    type='button'
                    onclick='rmElement("campaign_' + i + '")'
                    value='Delete campaign'
                  )
              .row 
                .six.columns
                  label(for='canal') Canal 
                  select.u-full-width(
                    type='text'
                    name='campaigns[' + i + '][canal]'
                  )
                    each canal in canals 
                      option(
                        value=canal
                        selected=(locals.campaigns ? canal===locals.campaigns[i].canal : false)
                      ) #{canal}
                .six.columns 
                  label(for='keyboard') Keyboard
                  select.u-full-width(
                    type='text'
                    name='campaigns[' + i + '][keyboard]'
                  )
                    option(
                      value='inline'
                      selected=(locals.campaigns ? 'inline'===locals.campaigns[i].keyboard : false)
                    ) inline 
                    option(
                      value='standard'
                      selected=(locals.campaigns ? 'standard'===locals.campaigns[i].keyboard : false)
                    ) standard
              .row 
                label(for='message') Message 
                textarea.u-full-width(
                  type='text'
                  name='campaigns[' + i + '][message]'
                  placeholder='Hello everyone'
                  style='resize: vertical;'
                )
                  | #{locals.campaigns ? (undefined===locals.campaigns[i].message ? '' : locals.campaigns[i].message) : ''}
              .row
                .two.columns 
                  label(for='buttons') Buttons 
                .four.columns
                  input.button.u-full-width(
                    type='button'
                    onclick='addButton(' + i + ')'
                    value='Add button'
                  )
              div(id='buttons_'+i)
                if locals.campaigns[i].buttons
                  - j = 0;
                  while j < locals.campaigns[i].buttons.length
                    div(id='button_' + i + '_' + j)
                      .row 
                        .two.columns 
                          label(for='button') Button 
                        .four.columns 
                          input.button.u-full-width(
                            type='button'
                            onclick='rmElement("button_' + i + '_' + j + '")'
                            value='Delete button'
                          )
                      .row 
                        .three.columns 
                          label(for='button type') Button type 
                          select.u-full-width(
                            type='text'
                            name='campaigns[' + i + '][buttons][' + j + '][type]'
                          )
                            option(value='quick_answer' selected=('quick_answer'===locals.campaigns[i].buttons[j].type)) quick_answer
                            option(value='link' selected=('link'===locals.campaigns[i].buttons[j].type)) link
                        .three.columns 
                          label(for='button tag') Button tag 
                          input.u-full-width(
                            type='text'
                            name='campaigns[' + i + '][buttons][' + j + '][tag]'
                            required=true 
                            placeholder='hello'
                            value=locals.campaigns[i].buttons[j].tag
                          )
                        .six.columns 
                          label(for='button text') Button text 
                          textarea.u-full-width(
                            type='text'
                            name='campaigns[' + i + '][buttons][' + j + '][text]'
                            required=true 
                            placeholder='Hello, my dear friend!'
                            style='resize: none'
                          )
                            | #{locals.campaigns[i].buttons[j].text}
                      if locals.campaigns[i].buttons[j].errors
                        ul.errors 
                          | Button errors 
                          for error in locals.campaigns[i].buttons[j].errors
                            li!=error.msg
                      - j++;
              if locals.campaigns[i].errors
                ul.errors 
                  | Errors 
                  for error in locals.campaigns[i].errors
                    li!=error.msg
              - i++;

      .row
        .six.columns
          input.button.u-full-width(
            type='button'
            onclick='addCampaign('+ JSON.stringify(canals) + ', ' + (locals.campaigns ? locals.campaigns.length - 1 : 0)+')'
            value='Add campaign'
          )
      .row
        input.button-primary.u-full-width(
          type='submit'
          value='Submit'
        )

      if errors && errors.length > 0
        ul.errors
          | Errors
          for error in errors
            li!= error.msg
  
    script
      include scripts/campaignCreate.js
  
