extends layout

block layout-content
  div.form
    div.heading
      h2  #{title}
    form(method='POST' action='')
      div#campaigns
        if locals.campaigns
          - var i = 0;
          - var j;
          while i < locals.campaigns.length
            label(id='campaign_'+i)
              span.prm Campaign #{i+1}
              button.btn(
                type='button'
                onclick='rmElement("campaign_' + i + '")'
              )
                | Delete campaign
              label(for='canal') 
                span Canal 
                select.select-field(
                  type='text'
                  name='canal_'+i
                )
                  each canal in canals 
                    option(
                      value=canal
                      selected=canal===locals.campaigns[i].canal
                    ) #{canal}
              label(for='message') 
                span Message 
                textarea.textarea-field(
                  type='text'
                  name='message_' + i
                )
                  | #{undefined===locals.campaigns[i].message ? '' : locals.campaigns[i].message}
              label(for='keyboard')
                span Keyboard 
                select.select-field(
                  type='text'
                  name='keyboard_'+i 
                )
                  option(value='standard' selected=('standard'===locals.campaigns[i].keyboard)) standard
                  option(value='inline' selected=('inline'===locals.campaigns[i].keyboard)) inline
              label(for='buttons') 
                span Buttons 
                button.btn(
                  type='button'
                  onclick='addButton(' + i + ')'
                )
                  | Add button
                div.buttons(id='buttons_'+i)
                  if locals.campaigns[i].buttons
                    - j = 0;
                    while j < locals.campaigns[i].buttons.length
                      label(id='button_'+i+'_'+j for='button')
                        span Button
                        button.btn(
                          type='button'
                          onclick='rmElement("button_' + i + '_' + j + '")'
                        )
                          | Delete button
                        label(for='button type') 
                          span Type 
                          select.select-field(
                            type='text'
                            name='buttons_'+ i + '_type' 
                          )
                            option(value='quick_answer' selected=('quick_answer'===locals.campaigns[i].buttons[j].type)) quick_answer
                            option(value='link' selected=('link'===locals.campaigns[i].buttons[j].type)) link
                        label(for='button text')
                          span Text 
                            span.required *
                          textarea.textarea-field(
                            type='text'
                            name='buttons_' + i + '_text'
                            required=true
                          )
                            | #{locals.campaigns[i].buttons[j].text}
                        label(for='button tag') 
                          span Tag 
                            span.required *
                          input.input-field(
                            type='text'
                            name='buttons_' + i + '_tag'
                            value=locals.campaigns[i].buttons[j].tag
                            required=true
                          )
                      - j++;
              - i++;


        else
          label(id='campaign_0')
            span.prm Campaign 1
            button.btn(
              type='button'
              onclick='rmElement("campaign_0")'
            )
              | Delete campaign
            label(for='canal')
              span Canal  
              select.select-field(
                type='text'
                name='canal_0'
              )
                each canal in canals
                  option(value=canal) #{canal}
            label(for='message')
              span Message  
              textarea.textarea-field(
                type='text'
                name='message_0'
              )
            label(for='keyboard')
              span Keyboard 
              select.select-field(
                type='text'
                name='keyboard_0'
              )
                option(value='inline') inline
                option(value='standard') standard
            label(for='buttons')
              span Buttons 
              button.btn(
                type='button'
                onclick='addButton()'
              )
                | Add button
                 
              div#buttons_0.buttons

      button.btn(
        type='button'
        onclick='addCampaign('+JSON.stringify(canals) + ', ' + (locals.campaigns ? locals.campaigns.length - 1 : 0)+')'
      )
        | Add campaign
      br
      button.btn(type='submit') Submit

      if errors
        ul.errors
          | Errors
          for error in errors
            li!= error.msg
  
    script
      include scripts/campaignCreate.js
  
