extends layout

block layout-content
  .heading
    h2 Campaign #{campaign.id}
  .campaign 
    .row 
      .two.columns
        label(for='canal') Canal 
      .ten.columns 
        p=campaign.canal.name 
    .row 
      .two.columns
        label(for='keyboard') Keyboard
      .ten.columns
        p=campaign.keyboard_type 
    .row 
      .two.columns
        label(for='message') Message 
      .ten.columns
        p=campaign.message ? '"' + campaign.message + '"' : '-no message-'
    if campaign.buttons.length
      .row 
        .two.columns
          label(for='buttons') Buttons 
      .row
        - let i = 1;
        table.u-full-width 
          thead 
            tr 
              th #
              th Tag 
              th Type 
              th Text
          tbody 
            each button in campaign.buttons 
              tr 
                td #{i}
                td #{button.tag}
                td #{button.type} 
                td #{button.text}
              - i += 1;
